services:
  background-jobs:
    build:
      context: ..
      dockerfile: docker/Dockerfile.background-jobs.dev
    image: edit-mind-background-jobs:dev
    ports:
      - "4000:4000"
      - "8765:8765"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ../.env
    networks:
      - app-network
    volumes:
      - ${HOST_MEDIA_PATH}:/media/videos
      - ../data:/app/data
      - whisper-models:/app/models
      - yolo-models:/app/models/yolo 
      - background_jobs_node_modules:/app/node_modules

  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile.web.dev
    image: edit-mind-web:dev
    ports:
      - "3745:3745"
    depends_on:
      postgres:
        condition: service_healthy
      chroma:
        condition: service_started
    env_file:
      - ../.env
    volumes:
      - ..:/app
      - web_node_modules:/app/node_modules
      - ../data:/app/data
      - ${HOST_MEDIA_PATH}:/media/videos
    networks:
      - app-network

  chroma:
    image: chromadb/chroma:latest
    environment:
      CHROMA_CORS_ALLOW_ORIGINS: '["http://localhost:3745", "http://localhost:4000", "http://web:3745", "http://background-jobs:4000"]'
      CHROMA_HOST: "0.0.0.0" 
      CHROMA_PORT: "8000"
    ports:  
      - "8000:8000"
    volumes:
      - ../.chroma_db:/data
    env_file:
      - ../.env
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
    - redis_data:/data
    networks:
      - app-network

  postgres:
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d app"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  pgdata:
  web_node_modules:
  background_jobs_node_modules:
  redis_data: 
  whisper-models:
    driver: local
  yolo-models: 
    driver: local
networks:
  app-network: