services:
  background-jobs:
    build:
      context: ..
      dockerfile: docker/Dockerfile.background-jobs.dev
    image: edit-mind-background-jobs:dev
    ports:
      - "4000:4000"
      - "8765:8765"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ../.env
    volumes:
      - ..:/app
      - ../.thumbnails:/.thumbnails
      - background_jobs_node_modules:/app/node_modules
      - python_venv:/app/python/.venv
    networks:
      - app-network

  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile.web.dev
    image: edit-mind-web:dev
    ports:
      - "3745:3745"
    depends_on:
      postgres:
        condition: service_healthy
      chroma:
        condition: service_started
    env_file:
      - ../.env
    volumes:
      - ..:/app
      - web_node_modules:/app/node_modules
      - ../.thumbnails:/.thumbnails
    networks:
      - app-network

  chroma:
    image: chromadb/chroma:latest
    ports:
      - "8000:8000"
    volumes:
      - ../.chroma_db:/data
    env_file:
      - ../.env
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  postgres:
    image: postgres:16
    ports:
      - "5433:5432"
    env_file:
      - ../.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  pgdata:
  web_node_modules:
  background_jobs_node_modules:
  python_venv:

networks:
  app-network: